<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
		<add key="conString" value="Data Source=(LocalDb)\LocalDBFlashcards;Initial Catalog=ExcelBook;Integrated Security=True;Pooling=False"/>
		<add key="dbString" value ="Data Source=(LocalDb)\LocalDBFlashcards;Integrated Security=True"/>
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
		<add key="fileString" value="D:\Users\steez\source\repos\Excel Reader\Excel Reader\Book.xlsx"/>
	</appSettings>
</configuration>